*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #d0d9ef;
}
.sidebar{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; 
    width: 300px;
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #fff;
    padding: 20px;
    border-radius: 0 10px;
}
.ender{
    margin: 5px 0;
    border: 1px solid rgb(195, 195, 195);
}


/* Buttons(Logout,..) */
.button{
    display: inline-flex;
    margin: 10px 0;
    background-color: #fff;
    width: 100%;
    height: 55px;
    border-radius: 10px;
    transition: 0.4s;
}
.it{
    transition: 0.4s;
}
.button:hover .it{
    color: #fff;
}
.button:hover{
    background-color: #685cfe;
}
.button > div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
    margin: 0 5px;
    border-radius: 10px;
    font-size: 25px;
    color: #000;
}
.button > div:nth-child(2){
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 100%;
    font-weight: 600;
}


/* Search */
.search{
    background-color: #d0d9ef;
    display: inline-flex;
    margin: 10px 0;
    width: 100%;
    height: 55px;
    border-radius: 10px;
}
.search > div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
    margin: 0 5px;
    border-radius: 10px;
    font-size: 25px;
    color: #000;
}
.search > input{
    width: 200px;
    height: 100%;
    background-color: #d0d9ef;
    border: none;
    border-radius: 10px;
    resize: none;
    outline: none;
    font-size: 23px;
}


/* Profile */
.profile{
    background-color: white;
    width: 100%;
    height: auto;
    display: inline-flex;
}
.profile > div:nth-child(1){
    background-color: brown;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 8px;
}
.profile > div:nth-child(2){
    width: 200px;
    height: 100%;
    margin: 10px;
}
.profile > div:nth-child(2) > div:nth-child(1){
    font-size: 20px;
    font-weight: bolder;
}
.profile > div:nth-child(2) > div:nth-child(2){
    letter-spacing: 1px;
    font-size: 11px;
    font-weight: 400;
}


/* Notes_Container */
.Notes-Container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    height: 550px;
}
.Notes-Container .notes{
    height: 350px;
}
.Notes-Container .button{

}

/* Actions Container */
.Actions{
    background-color: #fff;
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}


/* Header */
.container-2{
    position: absolute;
    right: 0;
    top: 0;
    background-color: #d0d9ef;
    width: 75%;
    height: 98%;
    margin: 10px;
}
.header{
    width: 100%;
    height: 100px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
}
.innerContainer{
    margin: 10px 0;
    width: 100%;
    height: 86%;
    background-color: #d0d9ef;
    display: flex;
    flex-direction: row;
}
.innerContainer > textarea {
    padding: 20px;
    width: 90%;
    height: 88%;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    resize: none;
    outline: none;
    font-size: 23px;
}
.quick{
    width: 100px;
    height: 50%;
    background-color: #fff;
    border-radius: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.list{
    margin: 10px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
}
.list:hover{
    background-color: #685cfe;
    transition: 0.4s;
    color: #fff;
}