*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root{
    --bg-color: #d0d9ef;
    /* --bg-color:#747474; */
    --white-color: #fff; 
    --enders-color: #bababa;
    --button-hover-color: #685cfe; 
    --text-color: #03001C;
    --toggle-mode-color: #fff;
    --dark-mode-color: #03001C;
}
body{
    background-color: var(--bg-color);
}
.sidebar{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; 
    width: 300px;
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: var(--white-color);
    padding: 20px;
    border-radius: 0 10px;
    transition: 0.4s;
}
.ender{
    margin: 5px 0;
    border: 1px solid var(--enders-color);
}

/* Collapse Button */
.collapse{
    position: absolute;
    top: 10px;
    left: 325px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: var(--button-hover-color);
    z-index: 3;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.4s;
}
.arrow{
    margin-left: 2px;
    width: 10px;
    height: 10px;
    border-left: 3px solid var(--white-color);
    border-top: 3px solid var(--white-color);
    border-radius: 3px;
    transform: rotate(315deg);
}



/* Buttons(Logout,..) */
.button{
    display: inline-flex;
    margin: 10px 0;
    background-color: transparent;
    width: 100%;
    height: 55px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
}
.it{
    transition: 0.4s;
}
.button:hover .it{
    color: var(--white-color);
}
.button:hover{
    background-color: var(--button-hover-color);
}
.button > div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
    margin: 0 5px;
    border-radius: 10px;
    font-size: 25px;
    color: var(--text-color);
}
.button > div:nth-child(2){
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 100%;
    font-weight: 600;
    white-space: nowrap;
}


/* Search */
.search{
    background-color: var(--bg-color);
    display: inline-flex;
    margin: 10px 0;
    width: 100%;
    height: 55px;
    border-radius: 10px;
}
.search > div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
    margin: 0 5px;
    border-radius: 10px;
    font-size: 25px;
    color: #000;
    cursor: pointer;
}
.search > input{
    width: 200px;
    height: 100%;
    background-color: var(--bg-color);
    border: none;
    border-radius: 10px;
    resize: none;
    outline: none;
    font-size: 23px;
    display: unset;
}


/* Profile */
.profile{
    background-color: transparent;
    width: 100%;
    height: auto;
    display: inline-flex;
}
.profile > div:nth-child(1){
    background-color: brown;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 5px;
}
.profile > div:nth-child(2){
    width: 200px;
    height: 100%;
    margin: 10px;
    display: unset;
}
.profile > div:nth-child(2) > div:nth-child(1){
    font-size: 20px;
    font-weight: bolder;
    color: var(--text-color);
}
.profile > div:nth-child(2) > div:nth-child(2){
    letter-spacing: 1px;
    font-size: 11px;
    font-weight: 400;
    color: var(--text-color);
}


/* Notes_Container */
.Notes-Container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    width: 100%;
    height: 550px;
}
.Notes-Container .notes{
    height: 350px;
}


/* Actions Container */
.Actions{
    background-color: transparent;
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}
.switch{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
    margin: 0 8px 0 100px;
    border-radius: 10px;
    font-size: 25px;
    background-color: transparent;
    transition: 0.4s;
}
#toggle{
    padding: 2px;
    width: 45px;
    height: 25px;
    border: 2px solid var(--text-color);
    background-color: var(--toggle-mode-color);
    border-radius: 15px;
}
#circle{
    margin-left: 0;
    width: 22px;
    height: 100%;
    border-radius: 100%;
    background-color: var(--dark-mode-color);
    transition: 0.4s;
}
#mode-icon{
    display: flex;
}

/* Header */
.container-2{
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--bg-color);
    width: 75%;
    height: 98%;
    margin: 10px;
    transition: 0.4s;
}
.header{
    width: 100%;
    height: 100px;
    background-color: var(--toggle-mode-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    color: var(--text-color);
    transition: 0.4s;
}
.innerContainer{
    margin: 10px 0;
    width: 100%;
    height: 86%;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
}
.innerContainer > textarea {
    padding: 20px;
    width: 90%;
    height: 88%;
    background-color: var(--toggle-mode-color);
    border: none;
    border-radius: 10px;
    resize: none;
    outline: none;
    font-size: 23px;
    transition: 0.4s;
}
.quick{
    width: 100px;
    height: 50%;
    background-color: var(--toggle-mode-color);
    border-radius: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: 0.4s;
}
.list{
    margin: 10px;
    width: 50px;
    height: 50px;
    background-color: var(--toggle-mode-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    cursor: pointer;
    color: var(--text-color);
}
.list:hover{
    background-color: var(--button-hover-color);
    transition: 0.4s;
    color: var(--white-color);
}